// 全局原子类
.#{$ns} {
  // 边框、内外边距
  &NoBorder {
    border: none !important;
    box-shadow: none !important;
  }
  &NoPadding {
    padding: 0 !important;
  }
  &NoMargin {
    margin: 0 !important;
  }
  &NoBg {
    background: transparent !important;
  }
  &Bg {
    background: #fff !important;
  }
  // 布局
  &Flex {
    flex: 1 !important;
  }
  // 加粗 & 对齐
  &Bold {
    font-weight: bolder !important;
  }
  // 对齐
  &TR {
    text-align: right !important;
    justify-content: flex-end !important;
  }
  &TL {
    text-align: left !important;
    justify-content: flex-start !important;
  }
  &TC {
    text-align: center !important;
    justify-content: center !important;
  }

  // 外间距  base=>16px s=>4px m=>8px l=>24px xl=>32px xxl=>40px
  &M {
    margin: $gap-base !important;
  }
  &M-s {
    margin: $gap-xs !important;
  }
  &M-m {
    margin: $gap-sm !important;
  }
  &M-l {
    margin: $gap-md !important;
  }
  &M-xl {
    margin: $gap-lg !important;
  }
  &M-xxl {
    margin: $gap-xlg !important;
  }
  // 上
  &MT {
    margin-top: $gap-base !important;
  }
  &MT-s {
    margin-top: $gap-xs !important;
  }
  &MT-m {
    margin-top: $gap-sm !important;
  }
  &MT-l {
    margin-top: $gap-md !important;
  }
  &MT-xl {
    margin-top: $gap-lg !important;
  }
  &MT-xxl {
    margin-top: $gap-xlg !important;
  }
  // 右
  &MR {
    margin-right: $gap-base !important;
  }
  &MR-s {
    margin-right: $gap-xs !important;
  }
  &MR-m {
    margin-right: $gap-sm !important;
  }
  &MR-l {
    margin-right: $gap-md !important;
  }
  &MR-xl {
    margin-right: $gap-lg !important;
  }
  &MR-xxl {
    margin-right: $gap-xlg !important;
  }
  // 下
  &MB {
    margin-bottom: $gap-base !important;
  }
  &MB-s {
    margin-bottom: $gap-xs !important;
  }
  &MB-m {
    margin-bottom: $gap-sm !important;
  }
  &MB-l {
    margin-bottom: $gap-md !important;
  }
  &MB-xl {
    margin-bottom: $gap-lg !important;
  }
  &MB-xxl {
    margin-bottom: $gap-xlg !important;
  }
  // 左
  &ML {
    margin-left: $gap-base !important;
  }
  &ML-s {
    margin-left: $gap-xs !important;
  }
  &ML-m {
    margin-left: $gap-sm !important;
  }
  &ML-l {
    margin-left: $gap-md !important;
  }
  &ML-xl {
    margin-left: $gap-lg !important;
  }
  &ML-xxl {
    margin-left: $gap-xlg !important;
  }

  // 内间距  base=>16px s=>4px m=>8px l=>24px xl=>32px xxl=>40px
  &P {
    padding: $gap-base !important;
  }
  &P-s {
    padding: $gap-xs !important;
  }
  &P-m {
    padding: $gap-sm !important;
  }
  &P-l {
    padding: $gap-md !important;
  }
  &P-xl {
    padding: $gap-lg !important;
  }
  &P-xxl {
    padding: $gap-xlg !important;
  }
  // 上
  &PT {
    padding-top: $gap-base !important;
  }
  &PT-s {
    padding-top: $gap-xs !important;
  }
  &PT-m {
    padding-top: $gap-sm !important;
  }
  &PT-l {
    padding-top: $gap-md !important;
  }
  &PT-xl {
    padding-top: $gap-lg !important;
  }
  &PT-xxl {
    padding-top: $gap-xlg !important;
  }
  // 右
  &PR {
    padding-right: $gap-base !important;
  }
  &PR-s {
    padding-right: $gap-xs !important;
  }
  &PR-m {
    padding-right: $gap-sm !important;
  }
  &PR-l {
    padding-right: $gap-md !important;
  }
  &PR-xl {
    padding-right: $gap-lg !important;
  }
  &PR-xxl {
    padding-right: $gap-xlg !important;
  }
  // 下
  &PB {
    padding-bottom: $gap-base !important;
  }
  &PB-s {
    padding-bottom: $gap-xs !important;
  }
  &PB-m {
    padding-bottom: $gap-sm !important;
  }
  &PB-l {
    padding-bottom: $gap-md !important;
  }
  &PB-xl {
    padding-bottom: $gap-lg !important;
  }
  &PB-xxl {
    padding-bottom: $gap-xlg !important;
  }
  // 左
  &PL {
    padding-left: $gap-base !important;
  }
  &PL-s {
    padding-left: $gap-xs !important;
  }
  &PL-m {
    padding-left: $gap-sm !important;
  }
  &PL-l {
    padding-left: $gap-md !important;
  }
  &PL-xl {
    padding-left: $gap-lg !important;
  }
  &PL-xxl {
    padding-left: $gap-xlg !important;
  }

  // 边框
  &BD-top {
    border-top: 1px solid #e8e8e8 !important;
  }
  &BD-bottom {
    border-bottom: 1px solid #e8e8e8 !important;
  }
  &BD-left {
    border-left: 1px solid #e8e8e8 !important;
  }
  &BD-right {
    border-right: 1px solid #e8e8e8 !important;
  }

  // 颜色
  &C-ddd {
    color: #ddd !important;
  }
  &C-f8 {
    color: #f8f8f8 !important;
  }
}
